body{
    margin: 0px;
    background-color: rgb(179, 85, 85);
}
h1{
    color:cadetblue;
}
.navbar{
    border-style: solid;
    boder-widh: 1px;
    border-color: burlywood;
    padding: 20px;
    text-align: center;
}
.navbar a{
padding: 20px;
text-decoration: none;
color: black;
}

.navbar a:hover{
    color:aqua;
    background-color: teal;
}